## This file focuses on rest of the raw data.
 - Including - final_dataset.csv, IMDB-Movie-Data.csv, Movie_data.csv, movies.csv

In [2]:
import pandas as pd
import numpy as np

In [ ]:
path1 = 'raw data/final_dataset.csv'
path2 = 'raw data/IMDB-Movie-Data.csv'
path3 = 'raw data/Movie_data.csv'
path4 = 'raw data/movies.csv'

In [ ]:
# Helper functions
def edit_distance(str1, str2):
    m, n = len(str1), len(str2)
    
    # Initialize a 2D DP table
    dp = [[0] * (n + 1) for _ in range(m + 1)]
    
    # Fill the DP table
    for i in range(m + 1):
        for j in range(n + 1):
            if i == 0:
                dp[i][j] = j  # If str1 is empty, insert all characters of str2
            elif j == 0:
                dp[i][j] = i  # If str2 is empty, remove all characters of str1
            elif str1[i - 1] == str2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1]  # Characters match, no cost
            else:
                dp[i][j] = 1 + min(dp[i - 1][j],    # Remove
                                   dp[i][j - 1],    # Insert
                                   dp[i - 1][j - 1])  # Replace

    return dp[m][n]

def detect_outliers_iqr(data):
    """
    Detects outliers in a list or numpy array using the IQR method.

    Args:
      data: A list or numpy array of numerical data.

    Returns:
      A list of outlier values.
    """
    if not isinstance(data, (list, np.ndarray)):
        raise TypeError("Input data must be a list or numpy array.")
    if len(data) == 0:
        return []

    data = np.array(data)
    q1 = np.percentile(data, 25)
    q3 = np.percentile(data, 75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr
    outliers = data[(data < lower_bound) | (data > upper_bound)]
    return list(outliers)

def initial_inspection(file):
    df = pd.read_csv(file)
    print(f'Column attributes: {df.columns}')
    print(f'-------------------------------------------------------------------------------------------------------------------------------------------------------')
    print(f'DF shape: {df.shape}')
    print(f'-------------------------------------------------------------------------------------------------------------------------------------------------------')
    print(df.head())
    return df

### Initial Import

#### final_dataset.csv

This dataset has important attributes like actors name, gross income, and budget information. An potential problem with this data set is that it didn't come with a date.

In [12]:
raw1 = initial_inspection(path1)

Column attributes: Index(['name', 'genre', 'score', 'director', 'actor_2_name', 'actor_1_name',
       'gross', 'budget'],
      dtype='object')
-------------------------------------------------------------------------------------------------------------------------------------------------------
DF shape: (7118, 8)
-------------------------------------------------------------------------------------------------------------------------------------------------------
                                             name      genre  score  \
0                                     The Shining      Drama    8.4
1                                 The Blue Lagoon  Adventure    5.8
2  Star Wars: Episode V - The Empire Strikes Back     Action    8.7
3                                       Airplane!     Comedy    7.7
4                                      Caddyshack     Comedy    7.3

          director        actor_2_name      actor_1_name        gross  \
0  Stanley Kubrick      Shelley Duvall  Scatman Crothers   46998772.0
1   Randal Kleiser  Christopher Atkins    Brooke Shields   58853106.0
2   Irvin Kershner         Kenny Baker     Harrison Ford  538375067.0
3     Jim Abrahams       Lloyd Bridges      Peter Graves   83453539.0
4     Harold Ramis  Rodney Dangerfield       Bill Murray   39846344.0

       budget
0  19000000.0
1   4500000.0
2  18000000.0
3   3500000.0
4   6000000.0

#### IMDB-Movie-Data.csv

This data file also have some interesting variable such as movie description, full actor list, and movie runtime. But there's a lot of fact checking that we have to do during the merge.

In [13]:
raw2 = initial_inspection(path2)

Column attributes: Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')
-------------------------------------------------------------------------------------------------------------------------------------------------------
DF shape: (1000, 12)
-------------------------------------------------------------------------------------------------------------------------------------------------------
   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

#### Movie_data.csv

In [ ]:
raw3 = initial_inspection(path3)

Column attributes: Index(['id', 'title', 'genres', 'original_language', 'overview', 'popularity',
       'production_companies', 'release_date', 'budget', 'revenue', 'runtime',
       'status', 'tagline', 'vote_average', 'vote_count', 'credits',
       'keywords', 'poster_path', 'backdrop_path', 'recommendations',
       'trailer_views', 'trailer_likes'],
      dtype='object')
-------------------------------------------------------------------------------------------------------------------------------------------------------
DF shape: (17034, 22)
-------------------------------------------------------------------------------------------------------------------------------------------------------
       id                              title  \
0  615656                  Meg 2: The Trench
1  758323                The Pope's Exorcist
2  667538   Transformers: Rise of the Beasts
3  640146  Ant-Man and the Wasp: Quantumania
4  677179                          Creed III

                             genres original_language  \
0     Action-Science Fiction-Horror                en
1           Horror-Mystery-Thriller                en
2  Action-Adventure-Science Fiction                en
3  Action-Adventure-Science Fiction                en
4                      Drama-Action                en

                                            overview  popularity  \
0  An exploratory dive into the deepest depths of...    8763.998
1  Father Gabriele Amorth Chief Exorcist of the V...    5953.227
2  When a new threat capable of destroying the en...    5409.104
3  Super-Hero partners Scott Lang and Hope van Dy...    4425.387
4  After dominating the boxing world Adonis Creed...    3994.342

                                production_companies release_date  \
0  Apelles Entertainment-Warner Bros. Pictures-di...   2023-08-02
1  Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...   2023-04-05
2  Skydance-Paramount-di Bonaventura Pictures-Bay...   2023-06-06
3             Marvel Studios-Kevin Feige Productions   2023-02-15
4  Metro-Goldwyn-Mayer-Proximity Media-Balboa Pro...   2023-03-01

        budget     revenue  ...  \
0  129000000.0  35205648.2  ...
1   18000000.0   6567581.6  ...
2  200000000.0  40704546.4  ...
3  200000000.0  47576622.8  ...
4   75000000.0  26900000.0  ...

                                             tagline vote_average vote_count  \
0                                  Back for seconds.        7.079     1365.0
1  Inspired by the actual files of Father Gabriel...        7.433      545.0
2                                     Unite or fall.        7.340     1007.0
3            Witness the beginning of a new dynasty.        6.507     2811.0
4                      You can't run from your past.        7.262     1129.0

                                             credits  \
0  Jason Statham-Wu Jing-Shuya Sophia Cai-Sergio ...
1  Russell Crowe-Daniel Zovatto-Alex Essoe-Franco...
2  Anthony Ramos-Dominique Fishback-Luna Lauren V...
3  Paul Rudd-Evangeline Lilly-Jonathan Majors-Kat...
4  Michael B. Jordan-Tessa Thompson-Jonathan Majo...

                                            keywords  \
0                based on novel or book-sequel-kaiju
1  spain-rome italy-vatican-pope-pig-possession-c...
2  peru-alien-end of the world-based on cartoon-b...
3  hero-ant-sequel-superhero-based on comic-famil...
4  philadelphia pennsylvania-husband wife relatio...

                        poster_path                     backdrop_path  \
0  /4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg  /qlxy8yo5bcgUw2KAmmojUKp4rHd.jpg
1  /9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg  /hiHGRbyTcbZoLsYYkO4QiCLYe34.jpg
2  /gPbM0MK8CP8A174rmUwGsADNYKD.jpg  /woJbg7ZqidhpvqFGGMRhWQNoxwa.jpg
3  /qnqGbB22YJ7dSs4o6M7exTpNxPz.jpg  /m8JTwHFwX7I7JY5fPe4SjqejWag.jpg
4  /cvsXj3I9Q2iyyIo95AecSd1tad7.jpg  /5i6SjyDbDWqyun8klUuCxrlFbyw.jpg

                                     recommendations trailer_views  \
0  1006462-298618-569094-1061181-346698-1076487-6...  1.423399e+07
1  713704-296271-502356-1076605-1084225-1008005-9...  1.779581e+06
2  496450-569094-298618-385687-877100-598331-4628...  1.774778e+07
3  823999-676841-868759-734048-267805-965839-1033...  2.948972e+07
4  965839-267805-943822-842942-1035806-823999-107...  6.747268e+06

  trailer_likes
0  1.066109e+07
1  2.007831e+06
2  1.310009e+07
3  1.173070e+07
4  5.175768e+06

[5 rows x 22 columns]

#### movies.csv

In [15]:
raw4 = initial_inspection(path4)

Column attributes: Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')
-------------------------------------------------------------------------------------------------------------------------------------------------------
DF shape: (7668, 15)
-------------------------------------------------------------------------------------------------------------------------------------------------------
                                             name rating      genre  year  \
0                                     The Shining      R      Drama  1980
1                                 The Blue Lagoon      R  Adventure  1980
2  Star Wars: Episode V - The Empire Strikes Back     PG     Action  1980
3                                       Airplane!     PG     Comedy  1980
4                                      Caddyshack      R     Comedy  1980

                        released  score      votes         director  \
0  June 13, 1980 (United States)    8.4   927000.0  Stanley Kubrick
1   July 2, 1980 (United States)    5.8    65000.0   Randal Kleiser
2  June 20, 1980 (United States)    8.7  1200000.0   Irvin Kershner
3   July 2, 1980 (United States)    7.7   221000.0     Jim Abrahams
4  July 25, 1980 (United States)    7.3   108000.0     Harold Ramis

                    writer            star         country      budget  \
0             Stephen King  Jack Nicholson  United Kingdom  19000000.0
1  Henry De Vere Stacpoole  Brooke Shields   United States   4500000.0
2           Leigh Brackett     Mark Hamill   United States  18000000.0
3             Jim Abrahams     Robert Hays   United States   3500000.0
4       Brian Doyle-Murray     Chevy Chase   United States   6000000.0

         gross             company  runtime
0   46998772.0        Warner Bros.    146.0
1   58853106.0   Columbia Pictures    104.0
2  538375067.0           Lucasfilm    124.0
3   83453539.0  Paramount Pictures     88.0
4   39846344.0      Orion Pictures     98.0

### Fact checking

We will be checking if the important variable matches (if not, then at least one of the merged source is not reliable)

In [41]:
# Let's start with raw1 and raw2 first
movie_stg0 = raw1.merge(raw2, left_on=['name', 'director'], right_on=['Title', 'Director'])
movie_stg0.shape

(573, 20)

Movies seem to match after the inital merged using a pair of composite key, but there's only a few hundred of matched movies.

In [42]:
movie_stg0.isna().sum()

name                   0
genre                  0
score                  0
director               0
actor_2_name           0
actor_1_name           0
gross                  0
budget                 0
Rank                   0
Title                  0
Genre                  0
Description            0
Director               0
Actors                 0
Year                   0
Runtime (Minutes)      0
Rating                 0
Votes                  0
Revenue (Millions)     7
Metascore             22
dtype: int64

In [53]:
# removing unrelevant/redundent attributes
movie_stg1 = movie_stg0.drop(['name', 'genre', 'score', 'director', 'actor_2_name', 'actor_1_name', 'Rank'], axis=1)

In [66]:
# Let's continue with raw3
movie_stg1.rename(columns={'budget': 'Budget'}, inplace=True)

movie_stg2 = movie_stg1.join(raw3.set_index('title'), on='Title')

In [68]:
movie_stg2.shape

(613, 34)

In [67]:
movie_stg2.isna().sum()

gross                    0
Budget                   0
Title                    0
Genre                    0
Description              0
Director                 0
Actors                   0
Year                     0
Runtime (Minutes)        0
Rating                   0
Votes                    0
Revenue (Millions)       7
Metascore               24
id                       6
genres                   6
original_language        6
overview                 6
popularity               6
production_companies     8
release_date             6
budget                   6
revenue                  6
runtime                  6
status                   6
tagline                 40
vote_average             6
vote_count               6
credits                  8
keywords                10
poster_path              6
backdrop_path            8
recommendations         16
trailer_views            6
trailer_likes            6
dtype: int64

In [70]:
movie_stg2.columns

Index(['gross', 'Budget', 'Title', 'Genre', 'Description', 'Director',
       'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes',
       'Revenue (Millions)', 'Metascore', 'id', 'genres', 'original_language',
       'overview', 'popularity', 'production_companies', 'release_date',
       'budget', 'revenue', 'runtime', 'status', 'tagline', 'vote_average',
       'vote_count', 'credits', 'keywords', 'poster_path', 'backdrop_path',
       'recommendations', 'trailer_views', 'trailer_likes'],
      dtype='object')

In [89]:
movie_stg2.head()

,gross,Budget,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,...,tagline,vote_average,vote_count,credits,keywords,poster_path,backdrop_path,recommendations,trailer_views,trailer_likes
0,291465373.0,90000000.0,The Departed,"Crime,Drama,Thriller",An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio, Matt Damon, Jack Nicholson,...",2006,151,8.5,...,Lies. Betrayal. Sacrifice. How far will you ta...,8.164,13185.0,Jack Nicholson-Leonardo DiCaprio-Matt Damon-Ma...,undercover-boston massachusetts-irish-american...,/nT97ifVT2J1yMQmeq20Qblg61T.jpg,/6WRrGYalXXveItfpnipYdayFkQB.jpg,11324-769-1124-16869-807-106646-98-500-857-640...,1.811332e+07,9.019804e+06
1,158964610.0,85000000.0,The Fast and the Furious: Tokyo Drift,"Action,Crime,Thriller",A teenager becomes a major competitor in the w...,Justin Lin,"Lucas Black, Zachery Ty Bryan, Shad Moss, Dami...",2006,104,6.0,...,"On the streets of Tokyo, speed needs no transl...",6.400,5782.0,Lucas Black-Nathalie Kelley-Sung Kang-Shad Mos...,car race-car journey-car mechanic-car garage-a...,/cm2ffqb3XovzA5ZSzyN3jnn8qv0.jpg,/dMARcKLrv0T7kVJ4iQR3vqTTdtT.jpg,584-13804-9799-51497-82992-168259-337339-98833...,5.714873e+06,2.590683e+06
2,109676311.0,40000000.0,The Prestige,"Drama,Mystery,Sci-Fi",Two stage magicians engage in competitive one-...,Christopher Nolan,"Christian Bale, Hugh Jackman, Scarlett Johanss...",2006,130,8.5,...,Are You Watching Closely?,8.203,13936.0,Hugh Jackman-Christian Bale-Michael Caine-Scar...,competition-obsession-magic-diary-dying and de...,/bdN3gXuIZYaJP7ftKK2sU0nPtEA.jpg,/mfJepkInUbiZ0mFXFhDNz8ko6Zr.jpg,77-11324-1422-807-27205-272-155-16869-550-629-...,-2.292396e+06,4.893181e+06
3,461991867.0,120000000.0,Cars,"Animation,Adventure,Comedy",A hot-shot race-car named Lightning McQueen ge...,John Lasseter,"Owen Wilson, Bonnie Hunt, Paul Newman, Larry t...",2006,117,7.1,...,Ahhh... it's got that new movie smell.,6.900,12346.0,Owen Wilson-Larry the Cable Guy-Bonnie Hunt-Pa...,car race-success-route 66-porsche-retirement-f...,/u4G8EkiIBZYx0wEg2xDlXZigTOZ.jpg,/sd4xN5xi8tKRPrJOWwNiZEile7f.jpg,49013-12-863-585-9806-862-10193-2062-953-14160...,2.051532e+07,1.145355e+07
4,456068181.0,65000000.0,300,"Action,Fantasy,War",King Leonidas of Sparta and a force of 300 men...,Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",2006,117,7.7,...,"Spartans, prepare for glory!",7.167,12330.0,Gerard Butler-Lena Headey-Dominic West-David W...,evisceration-javelin-shield-army-epic-based on...,/9W49fy5G7v9Ed3CXtvMi41YqZtt.jpg,/eGhjeUbzttA3E4flxdAm8gHz4h4.jpg,53182-14161-98-6479-10528-36557-27578-604-607-...,1.832150e+06,1.236473e+07

In [90]:
benchmark_distance = 12.15  # Average edit distance of the first 20 movies
distance_list = []

for i in range(movie_stg2.shape[0]):
    try:
        # Get the genres for the current row
        genre1 = movie_stg2.iloc[i, 3]
        genre2 = movie_stg2.iloc[i, 14]

        # Check if either genre is null or NaN
        if pd.isnull(genre1) or pd.isnull(genre2):
            print(f"Null value at index {i}: Skipping this row.")
            distance_list.append(None)  # Append None for rows with null values
            continue

        # Compute the edit distance if both genres are valid
        distance = edit_distance(genre1, genre2)
        distance_list.append(distance)

    except ValueError:
        print(f"ValueError at index {i}: Skipping this row.")
        distance_list.append(None)
    except Exception as e:
        print(f"Unexpected error at index {i}: {e}")
        distance_list.append(None)

Null value at index 29: Skipping this row.
Null value at index 337: Skipping this row.
Null value at index 533: Skipping this row.
Null value at index 575: Skipping this row.
Null value at index 576: Skipping this row.
Null value at index 598: Skipping this row.

In [104]:
distance_list.remove(None)

In [105]:
len(distance_list)

607

In [106]:
np.mean(distance_list)

np.float64(12.99835255354201)