## This file focuses on rest of the raw data.
 - Including - final_dataset.csv, IMDB-Movie-Data.csv, Movie_data.csv, movies.csv
 - End result - A csv file named 'many_attributes.csv' that has only 505 records, but around 30 attributes

In [1]:
import pandas as pd
import numpy as np

In [2]:
path1 = 'raw data/final_dataset.csv'
path2 = 'raw data/IMDB-Movie-Data.csv'
path3 = 'raw data/Movie_data.csv'
path4 = 'raw data/movies.csv'

In [3]:
# Helper functions
def edit_distance(str1, str2):
    m, n = len(str1), len(str2)
    
    # Initialize a 2D DP table
    dp = [[0] * (n + 1) for _ in range(m + 1)]
    
    # Fill the DP table
    for i in range(m + 1):
        for j in range(n + 1):
            if i == 0:
                dp[i][j] = j  # If str1 is empty, insert all characters of str2
            elif j == 0:
                dp[i][j] = i  # If str2 is empty, remove all characters of str1
            elif str1[i - 1] == str2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1]  # Characters match, no cost
            else:
                dp[i][j] = 1 + min(dp[i - 1][j],    # Remove
                                   dp[i][j - 1],    # Insert
                                   dp[i - 1][j - 1])  # Replace

    return dp[m][n]

def detect_outliers(distance_list, threshold=2):
    """
    Detects outliers based on a specified threshold (in terms of standard deviations).
    
    Parameters:
    - distance_list: List of tuples (index, distance) where distance can be None.
    - threshold: Number of standard deviations to use as the outlier threshold.
    
    Returns:
    - outliers: List of tuples (index, distance) for outliers.
    """
    # Filter out invalid entries (None or incorrectly formatted)
    valid_entries = [entry for entry in distance_list if isinstance(entry, tuple) and entry[1] is not None]

    if not valid_entries:
        print("No valid distances to process.")
        return []

    # Extract indices and distances
    indices, distances = zip(*valid_entries)  # Separate indices and distances

    # Calculate mean and standard deviation
    mean_distance = np.mean(distances)
    std_distance = np.std(distances)

    # Define outlier thresholds
    lower_bound = mean_distance - threshold * std_distance
    upper_bound = mean_distance + threshold * std_distance

    # Detect outliers
    outliers = [(idx, dist) for idx, dist in valid_entries if dist < lower_bound or dist > upper_bound]

    # Print summary
    print(f"Mean Distance: {mean_distance:.2f}")
    print(f"Standard Deviation: {std_distance:.2f}")
    print(f"Lower Bound: {lower_bound:.2f}, Upper Bound: {upper_bound:.2f}")

    return outliers



def initial_inspection(file):
    df = pd.read_csv(file)
    print(f'Column attributes: {df.columns}')
    print(f'-------------------------------------------------------------------------------------------------------------------------------------------------------')
    print(f'DF shape: {df.shape}')
    print(f'-------------------------------------------------------------------------------------------------------------------------------------------------------')
    print(df.head())
    return df

### Initial Import

#### final_dataset.csv

This dataset has important attributes like actors name, gross income, and budget information. An potential problem with this data set is that it didn't come with a date.

In [4]:
raw1 = initial_inspection(path1)

Column attributes: Index(['name', 'genre', 'score', 'director', 'actor_2_name', 'actor_1_name',
       'gross', 'budget'],
      dtype='object')
-------------------------------------------------------------------------------------------------------------------------------------------------------
DF shape: (7118, 8)
-------------------------------------------------------------------------------------------------------------------------------------------------------
                                             name      genre  score  \
0                                     The Shining      Drama    8.4
1                                 The Blue Lagoon  Adventure    5.8
2  Star Wars: Episode V - The Empire Strikes Back     Action    8.7
3                                       Airplane!     Comedy    7.7
4                                      Caddyshack     Comedy    7.3

          director        actor_2_name      actor_1_name        gross  \
0  Stanley Kubrick      Shelley Duvall  Scatman Crothers   46998772.0
1   Randal Kleiser  Christopher Atkins    Brooke Shields   58853106.0
2   Irvin Kershner         Kenny Baker     Harrison Ford  538375067.0
3     Jim Abrahams       Lloyd Bridges      Peter Graves   83453539.0
4     Harold Ramis  Rodney Dangerfield       Bill Murray   39846344.0

       budget
0  19000000.0
1   4500000.0
2  18000000.0
3   3500000.0
4   6000000.0

#### IMDB-Movie-Data.csv

This data file also have some interesting variable such as movie description, full actor list, and movie runtime. But there's a lot of fact checking that we have to do during the merge.

In [5]:
raw2 = initial_inspection(path2)

Column attributes: Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')
-------------------------------------------------------------------------------------------------------------------------------------------------------
DF shape: (1000, 12)
-------------------------------------------------------------------------------------------------------------------------------------------------------
   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

#### Movie_data.csv

In [6]:
raw3 = initial_inspection(path3)

Column attributes: Index(['id', 'title', 'genres', 'original_language', 'overview', 'popularity',
       'production_companies', 'release_date', 'budget', 'revenue', 'runtime',
       'status', 'tagline', 'vote_average', 'vote_count', 'credits',
       'keywords', 'poster_path', 'backdrop_path', 'recommendations',
       'trailer_views', 'trailer_likes'],
      dtype='object')
-------------------------------------------------------------------------------------------------------------------------------------------------------
DF shape: (17034, 22)
-------------------------------------------------------------------------------------------------------------------------------------------------------
       id                              title  \
0  615656                  Meg 2: The Trench
1  758323                The Pope's Exorcist
2  667538   Transformers: Rise of the Beasts
3  640146  Ant-Man and the Wasp: Quantumania
4  677179                          Creed III

                             genres original_language  \
0     Action-Science Fiction-Horror                en
1           Horror-Mystery-Thriller                en
2  Action-Adventure-Science Fiction                en
3  Action-Adventure-Science Fiction                en
4                      Drama-Action                en

                                            overview  popularity  \
0  An exploratory dive into the deepest depths of...    8763.998
1  Father Gabriele Amorth Chief Exorcist of the V...    5953.227
2  When a new threat capable of destroying the en...    5409.104
3  Super-Hero partners Scott Lang and Hope van Dy...    4425.387
4  After dominating the boxing world Adonis Creed...    3994.342

                                production_companies release_date  \
0  Apelles Entertainment-Warner Bros. Pictures-di...   2023-08-02
1  Screen Gems-2.0 Entertainment-Jesus & Mary-Wor...   2023-04-05
2  Skydance-Paramount-di Bonaventura Pictures-Bay...   2023-06-06
3             Marvel Studios-Kevin Feige Productions   2023-02-15
4  Metro-Goldwyn-Mayer-Proximity Media-Balboa Pro...   2023-03-01

        budget     revenue  ...  \
0  129000000.0  35205648.2  ...
1   18000000.0   6567581.6  ...
2  200000000.0  40704546.4  ...
3  200000000.0  47576622.8  ...
4   75000000.0  26900000.0  ...

                                             tagline vote_average vote_count  \
0                                  Back for seconds.        7.079     1365.0
1  Inspired by the actual files of Father Gabriel...        7.433      545.0
2                                     Unite or fall.        7.340     1007.0
3            Witness the beginning of a new dynasty.        6.507     2811.0
4                      You can't run from your past.        7.262     1129.0

                                             credits  \
0  Jason Statham-Wu Jing-Shuya Sophia Cai-Sergio ...
1  Russell Crowe-Daniel Zovatto-Alex Essoe-Franco...
2  Anthony Ramos-Dominique Fishback-Luna Lauren V...
3  Paul Rudd-Evangeline Lilly-Jonathan Majors-Kat...
4  Michael B. Jordan-Tessa Thompson-Jonathan Majo...

                                            keywords  \
0                based on novel or book-sequel-kaiju
1  spain-rome italy-vatican-pope-pig-possession-c...
2  peru-alien-end of the world-based on cartoon-b...
3  hero-ant-sequel-superhero-based on comic-famil...
4  philadelphia pennsylvania-husband wife relatio...

                        poster_path                     backdrop_path  \
0  /4m1Au3YkjqsxF8iwQy0fPYSxE0h.jpg  /qlxy8yo5bcgUw2KAmmojUKp4rHd.jpg
1  /9JBEPLTPSm0d1mbEcLxULjJq9Eh.jpg  /hiHGRbyTcbZoLsYYkO4QiCLYe34.jpg
2  /gPbM0MK8CP8A174rmUwGsADNYKD.jpg  /woJbg7ZqidhpvqFGGMRhWQNoxwa.jpg
3  /qnqGbB22YJ7dSs4o6M7exTpNxPz.jpg  /m8JTwHFwX7I7JY5fPe4SjqejWag.jpg
4  /cvsXj3I9Q2iyyIo95AecSd1tad7.jpg  /5i6SjyDbDWqyun8klUuCxrlFbyw.jpg

                                     recommendations trailer_views  \
0  1006462-298618-569094-1061181-346698-1076487-6...  1.423399e+07
1  713704-296271-502356-1076605-1084225-1008005-9...  1.779581e+06
2  496450-569094-298618-385687-877100-598331-4628...  1.774778e+07
3  823999-676841-868759-734048-267805-965839-1033...  2.948972e+07
4  965839-267805-943822-842942-1035806-823999-107...  6.747268e+06

  trailer_likes
0  1.066109e+07
1  2.007831e+06
2  1.310009e+07
3  1.173070e+07
4  5.175768e+06

[5 rows x 22 columns]

#### movies.csv

In [7]:
raw4 = initial_inspection(path4)

Column attributes: Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')
-------------------------------------------------------------------------------------------------------------------------------------------------------
DF shape: (7668, 15)
-------------------------------------------------------------------------------------------------------------------------------------------------------
                                             name rating      genre  year  \
0                                     The Shining      R      Drama  1980
1                                 The Blue Lagoon      R  Adventure  1980
2  Star Wars: Episode V - The Empire Strikes Back     PG     Action  1980
3                                       Airplane!     PG     Comedy  1980
4                                      Caddyshack      R     Comedy  1980

                        released  score      votes         director  \
0  June 13, 1980 (United States)    8.4   927000.0  Stanley Kubrick
1   July 2, 1980 (United States)    5.8    65000.0   Randal Kleiser
2  June 20, 1980 (United States)    8.7  1200000.0   Irvin Kershner
3   July 2, 1980 (United States)    7.7   221000.0     Jim Abrahams
4  July 25, 1980 (United States)    7.3   108000.0     Harold Ramis

                    writer            star         country      budget  \
0             Stephen King  Jack Nicholson  United Kingdom  19000000.0
1  Henry De Vere Stacpoole  Brooke Shields   United States   4500000.0
2           Leigh Brackett     Mark Hamill   United States  18000000.0
3             Jim Abrahams     Robert Hays   United States   3500000.0
4       Brian Doyle-Murray     Chevy Chase   United States   6000000.0

         gross             company  runtime
0   46998772.0        Warner Bros.    146.0
1   58853106.0   Columbia Pictures    104.0
2  538375067.0           Lucasfilm    124.0
3   83453539.0  Paramount Pictures     88.0
4   39846344.0      Orion Pictures     98.0

### Fact checking

We will be checking if the important variable matches (if not, then at least one of the merged source is not reliable)

In [8]:
# Let's start with raw1 and raw2 first
movie_stg0 = raw1.merge(raw2, left_on=['name', 'director'], right_on=['Title', 'Director'])
movie_stg0.shape

(573, 20)

Movies seem to match after the inital merged using a pair of composite key, but there's only a few hundred of matched movies.

In [9]:
movie_stg0.isna().sum()

name                   0
genre                  0
score                  0
director               0
actor_2_name           0
actor_1_name           0
gross                  0
budget                 0
Rank                   0
Title                  0
Genre                  0
Description            0
Director               0
Actors                 0
Year                   0
Runtime (Minutes)      0
Rating                 0
Votes                  0
Revenue (Millions)     7
Metascore             22
dtype: int64

In [10]:
# removing unrelevant/redundent attributes
movie_stg1 = movie_stg0.drop(['name', 'genre', 'score', 'director', 'actor_2_name', 'actor_1_name', 'Rank'], axis=1)

In [11]:
# Let's continue with raw3
movie_stg1.rename(columns={'budget': 'Budget'}, inplace=True)

movie_stg2 = movie_stg1.merge(raw3, left_on=['Title', 'Budget'], right_on=['title', 'budget'])
#movie_stg2 = movie_stg1.join(raw3.set_index('title'), on='Title')

In [12]:
movie_stg2.shape

(505, 35)

In [13]:
movie_stg2.isna().sum()

gross                    0
Budget                   0
Title                    0
Genre                    0
Description              0
Director                 0
Actors                   0
Year                     0
Runtime (Minutes)        0
Rating                   0
Votes                    0
Revenue (Millions)       7
Metascore               20
id                       0
title                    0
genres                   0
original_language        0
overview                 0
popularity               0
production_companies     2
release_date             0
budget                   0
revenue                  0
runtime                  0
status                   0
tagline                 22
vote_average             0
vote_count               0
credits                  0
keywords                 0
poster_path              0
backdrop_path            0
recommendations          0
trailer_views            0
trailer_likes            0
dtype: int64

In [14]:
movie_stg2.columns

Index(['gross', 'Budget', 'Title', 'Genre', 'Description', 'Director',
       'Actors', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes',
       'Revenue (Millions)', 'Metascore', 'id', 'title', 'genres',
       'original_language', 'overview', 'popularity', 'production_companies',
       'release_date', 'budget', 'revenue', 'runtime', 'status', 'tagline',
       'vote_average', 'vote_count', 'credits', 'keywords', 'poster_path',
       'backdrop_path', 'recommendations', 'trailer_views', 'trailer_likes'],
      dtype='object')

In [15]:
# removing unrelevant/redundent attributes
movie_stg3 = movie_stg2.drop(['id', 'genres', 'overview', 'Budget', 'runtime'], axis=1)

In [16]:
movie_stg3.isna().sum()

gross                    0
Title                    0
Genre                    0
Description              0
Director                 0
Actors                   0
Year                     0
Runtime (Minutes)        0
Rating                   0
Votes                    0
Revenue (Millions)       7
Metascore               20
title                    0
original_language        0
popularity               0
production_companies     2
release_date             0
budget                   0
revenue                  0
status                   0
tagline                 22
vote_average             0
vote_count               0
credits                  0
keywords                 0
poster_path              0
backdrop_path            0
recommendations          0
trailer_views            0
trailer_likes            0
dtype: int64

In [17]:
movie_stg3.shape

(505, 30)

In [18]:
# Let's continue with raw4
raw4.columns

Index(['name', 'rating', 'genre', 'year', 'released', 'score', 'votes',
       'director', 'writer', 'star', 'country', 'budget', 'gross', 'company',
       'runtime'],
      dtype='object')

raw4 file doesn't seem to contain interesting/valuable information so we will avoid raw4

In [19]:
movie_stg3.to_csv('data/many_attributes.csv')